<div class="shadow-sm border-b border-gray-700 bg-gray-900" data-controller="visibility-reloader">
  <%= turbo_stream_from @agent_run %>
  <div>
    <%= render "agent_runs/header" %>
    <%= render "agent_runs/statistics" %>
  </div>
</div>

<!-- Run History -->
<div class="flex-1 relative focus:outline-none" id="messages-container" data-controller="scroll">
  <div class="py-6">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 space-y-4" id="messages">
      <%= render @messages %>
    </div>
  </div>
</div>

<%= render "agent_runs/footer" %>
