<div id="<%= dom_id agent_model %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= agent_model.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Llm model name:</strong>
    <%= agent_model.llm_model_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Base url:</strong>
    <%= agent_model.base_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Api token:</strong>
    <%= agent_model.api_token %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= agent_model.description %>
  </div>
</div>
